<mat-card class="example-card">


  <button mat-fab color="primary" style="align-self: flex-end; width: 40px; height: 40px; font-size: 40px;">
    <mat-icon  style="margin-top: -20px;" >edit</mat-icon></button>

      <mat-card-title style="text-align: center;">Nombre del evento</mat-card-title>
      <mat-card-subtitle style="text-align: center;">fecha</mat-card-subtitle>
    
    <mat-card-content style="text-align: start;">
      <p>
        Aqui va la informacion del evento
      </p>
    </mat-card-content>

    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
